// out:false

@import url('https://fonts.googleapis.com/css?family=Mitr&display=swap');

$primary-bg: #ffb526;

body {
  font-family: 'Mitr', sans-serif;
  background-color: #eeeeee;
}
.el-header {
  background-color: $primary-bg;
  color: #fff;
  line-height: 50px;
  text-shadow: 2px 2px 5px rgba(0,0,5,0.5);
  .el-button{
    color: $primary-bg;
    border:0px;
    box-shadow: 2px 2px 5px rgba(0,0,5,0.5);
  }
}
.button{
  background-color: $primary-bg;
  color: white;
  border: 2px solid $primary-bg;
  &:hover {
    background-color: #f8e5bf;
    color: #ffb526;
    border: 2px solid #f8e5bf
  }
}

.text {
  color: #303133;
  font-size: 16px
}

.text:hover {
  color: #303133
}


.el-tabs__item.is-active {
  color: #ffb526;
}

.el-tabs__item:hover {
  color: #f8e5bf;
}

.el-tabs__active-bar {
  background-color: #ffb526;
}

.el-button:focus, .el-button:hover {
  color: #303133;
}

.circle{
  border-radius: 50%;
  padding: 20px;
}

.box {
  background-color: white; 
  padding: 15px;
  border: 2px solid #e5e5e5;
  position: relative;
  .status-code{
    position: absolute;
    top: 5px;
    right: 20px;
  }
}
.el-button{
  font-family: 'Mitr', sans-serif;
}
#tabs{
  padding-top: 0px;
}
.boxs{
  padding-left: 15px;
}
.positionenv{
  position: absolute; 
  top:0; 
  right:0; 
  padding-right: 10px;
}
